<div class="row">
    <div class="col-12">
        <h1>Formularios Normal</h1>
    </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">
      Registrarse!
  </div>

  <div class="panel-body">
      <form class="form-horizontal"
            novalidate autocomplete="off"
            (ngSubmit)="save(formularioRegistro)"
            #formularioRegistro="ngForm">
          <fieldset>
              <div class="form-group"
                  [ngClass]="{'has-error': (nombreVar.touched || nombreVar.dirty) && !nombreVar.valid }">
                  <label class="col-md-2 control-label" 
                         for="nombreId">First Name</label>

                  <div class="col-md-8">
                      <input class="form-control" 
                             id="nombreId" 
                             type="text" 
                             placeholder="First Name (required)" 
                             required 
                             minlength="3"
                             [(ngModel)]=usuario.nombre
                             name="nombre"
                             #nombreVar="ngModel" />
                      <span class="help-block" *ngIf="(nombreVar.touched || nombreVar.dirty) && nombreVar.errors">
                          <span *ngIf="nombreVar.errors.required">
                              Please enter your first name.
                          </span>
                          <span *ngIf="nombreVar.errors.minlength">
                              The first name must be longer than 3 characters.
                          </span>
                      </span>
                  </div>
              </div>

              <div class="form-group"
                  [ngClass]="{'has-error': (apellido.touched || apellido.dirty) && !apellido.valid }">
                  <label class="col-md-2 control-label" 
                      for="apellidoId">Last Name</label>

                  <div class="col-md-8">
                      <input class="form-control" 
                             id="apellidoId" 
                             type="text" 
                             placeholder="Last Name (required)" 
                             required 
                             maxlength="50"
                             [(ngModel)]="usuario.apellido"
                             name="apellido"
                             #apellido="ngModel" />
                      <span class="help-block" *ngIf="(apellido.touched || apellido.dirty) && apellido.errors">
                          <span *ngIf="apellido.errors.required">
                              Please enter your last name.
                          </span>
                      </span>
                  </div>
              </div>

              <div class="form-group"
                  [ngClass]="{'has-error': (emailVar.touched || emailVar.dirty) && !emailVar.valid }">
                  <label class="col-md-2 control-label" 
                      for="emailId">Email</label>

                  <div class="col-md-8">
                      <input class="form-control" 
                             id="emailId" 
                             type="email" 
                             placeholder="Email (required)" 
                             required
                             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+"
                             [(ngModel)]="usuario.email"
                             name="email"
                             #emailVar="ngModel" />
                      <span class="help-block" *ngIf="(emailVar.touched || emailVar.dirty) && emailVar.errors">
                          <span *ngIf="emailVar.errors.required">
                              Please enter your email address.
                          </span>
                          <span *ngIf="emailVar.errors.pattern">
                              Please enter a valid email address.
                          </span>

                          <!-- This one does not work -->
                          <span *ngIf="emailVar.errors.email">
                              Please enter a valid email address.
                          </span>
                      </span>
                  </div>
              </div>
              <div class="form-group">
                  <div class="col-md-4 col-md-offset-2">
                      <span>
                          <button class="btn btn-primary"
                                  type="submit"
                                  [disabled]="!formularioRegistro.valid">
                              Save
                          </button>
                      </span>
                  </div>
              </div>
          </fieldset>
      </form>
  </div>
</div>

<div class="row">
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Dirty</th>
                    <th scope="col">Valid</th>
                    <th scope="col">touch</th>
                    <th scope="col"> Valor</th>
                  </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ formularioRegistro.dirty }}</td>
                    <td>{{ formularioRegistro.valid }}</td>
                    <td>{{ formularioRegistro.touched }}</td>
                    <td>{{ formularioRegistro.value }}</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>